<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master}">

<head></head>

<body>

<div layout:fragment="content">

  <div class="container">

    <div class="card bg-light">
      <div class="card-header bg-dark text-white" th:text="${titulo}"></div>
      <div class="card-body">
        <!-- Nested Row within Card Body -->

              <form action="postUsuario" method="post" class="user" th:object="${usuario}">

                <div class="form-group row">
                  <label class="col-md-2"> Empresa </label>
                  <select th:field="*{empresa}" class="form-control form-control-sm col-md-6">
                    <option th:each="emp: ${empresas}"
                            th:value="${emp.id}"
                            th:text="${emp.nombre}"></option>
                  </select>
                </div>

                <div class="form-group row">
                    <label class="col-md-2">Nombre</label>
                    <input type="text"th:field="*{nombre}" class="form-control form-control-sm col-md-6"
                           placeholder="Nombre">
                </div>

                <div class="form-group row">
                    <label class="col-md-2">Correo</label>
                    <input type="text" th:field="*{correo}" class="form-control form-control-sm col-md-6"
                           placeholder="Correo">
                </div>

                <div class="form-group row">
                  <label class="col-md-2">Teléfono</label>
                    <input type="text" th:field="*{telefono}" class="form-control form-control-sm col-md-6"
                           placeholder="Teléfono">
                </div>

                <div class="form-group row">
                  <label class="col-md-2">Rol</label>
                  <select th:field="*{enumUsuario}" class="form-control form-control-sm col-md-6">
                    <option th:each="rol: ${roles}"
                            th:text="${rol.name}"
                            th:value="${rol}"></option>
                  </select>
                </div>

                <div class="form-group row">
                  <div class="col-sm-6 m-auto">
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      Ingresar
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>



</div>
</body>

</html>